/* ================================= All CSS Selectors ================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow-x: hidden;
  position: static;
}

.nav-item {
  margin: auto 1vh;
}
.navbar-nav {
  margin-right: 5vh;
}
h1 {
  margin: 3vh auto;
  font-weight: bolder;
}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* ================================ Home Section Styling =============================== */

/* Style for the container */
.coding {
  position: relative;
}

/* Style for the background image */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./portfolio.gif') center center/cover no-repeat; /* Set the image as a background */
}

/* Style for the img tag */
.Coder_img {
  left: 57%;
  padding: 62px;
  width: 45%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
  top: 5vh;
}
.getCV {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-left: 5vh;
}

/* ================================= About Section Styling =============================== */
.image1 {
  border: 4px solid rgb(11, 13, 13);
  overflow: hidden;
  border-radius: 30px;
  border-radius: 50%;
  width: 44%;
  float: inline-end;
  /* text-align: center; */
  margin-right: 5vh;
  margin-bottom: 5vh;
}


.bio {
  width: 100%;
 text-align: center;
}
.logo {
  display: flex;
  margin: 4vh auto;
}
.logo a img {
  height: 50px;
  width: 50px;
}
.margin_on_short{
  font-size: 25px !important;

}

/* Moving hand */
.combine {
  display: flex;
}
#moving_hand {
  animation-name: move-hand;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#moving_hand:last-child {
  position: relative;
  bottom: 20px;
}

@keyframes move-hand {
  from {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(25deg);
  }
}

/* ================================== Skills Section Styling =============================== */
.skill_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 82%;
  margin: 0 auto;
  column-gap: 5vh;
}
.skill_container h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: #fff;
}
.item {
  border-radius: 13px;
  margin: 6px;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  width: 20%;
  align-items: center;
  text-align: center;
}
.item img {
  border-radius: 20%;
    height: 10vh;
    width: 7vw;
}

/* Skill On hover style */
.item:hover {
  transform: scale(.9);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* ================================ Education Section Styling =============================== */

.edu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 95%;
  position: relative;
  z-index: -200;
}
.Education h4 {
  font-weight: bolder;
}
.bold {
  font-weight: bolder;
}
.about_container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin_on_short {
  margin: 2vh;
}

/* =============================== Certifications Section Styling ============================= */

.certificate {
  margin: auto;

}
.certi_container {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  /* background-color: rgb(214, 214, 214); */
  /* padding: 3vh; */
  /* margin: 5vh auto; */
  max-width: 100%;
}
.certificate a {
  margin: 0 5vh;
}
.certi_container a > img {
  height: 10%;
  width: 20%;
  border: 3px solid black;
  margin: 1vh 3vh;
}
.certi_container img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/* ============================== Projects Section Styling =============================== */



#para {
  margin-left: 5vh;
}
.solo_project {
  background: red;
  margin: 5vh 5vh;
}
.projectcss{
  width: 78% !important;
  margin: auto !important;

}
/* .solo {
  height: 30vh;
  width: 30vw;
  background-color: rgb(33, 31, 31);
  margin: auto 2vh;
  color: white;
} */
.btn-center {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.font {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  margin: 2vh auto;
}
/* =============================== Solo Project Styling ============================== */
.cards-container {
  width: 100vw;
}

/* =============================== Group Project Styling ============================== */

.card-group h4 {
  font-weight: bold;
}

/* =============================== Contact Section Styling ============================== */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  margin: 5vh auto;
}

.shadow-sm {
  margin: auto !important;
}

.contact_form {
  background-color: rgb(86, 78, 78);
  height: max-content;
  margin: 5vh auto;
  max-width: 75%;
}

#name {
  margin-top: 5vh;
}
input,
textarea {
  width: 90%;
  margin: 2vh auto;
  padding: 1vh;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
}

input:focus,
textarea:focus {
  border: 3px solid lime;
}
input::placeholder,
textarea::placeholder {
  color: lime;
}

/* Submit button in Contact */
#btn {
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(19, 17, 22);
  color: white;
  padding: 1vh;
  height: fit-content;
  width: fit-content;
  margin-top: 3vh;
  margin-bottom: 5vh;
}
.position-fixed {
  z-index: 999 !important;
}
@media (max-width: 767px) {
  .Coder_img {
    width: 90% !important;
    margin: auto;
    left: 0px !important;
  }
  .btn {
    text-align: center;
    margin-top: 8px;
    width: 68%;
    margin-left: 45px;
  }
  .margin_on_short {
    font-size: 18px !important;
}
.image1{
  text-align: center !important;
  float: none !important;
}
.item {
  width: 40% !important;
}
.item img {
  border-radius: 20%;
  height: 10vh;
  width: 18vw;
}
#image-logo{
  text-align: center;
}
 
}


.resume{
  position: relative;
  z-index: 200;
  bottom: 3vh;
  left: 3px;
  margin: 5vh;

}


@media (max-width: 767px) {
  .resume {
    width: 100% !important;
    margin: auto -2vh;
    left: 0px !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}