/* ================================= All CSS Selectors ================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow-x: hidden;
  position: static;
}

.nav1 {
  position: absolute;
  z-index: 200;
  width: 100vw;
}
.nav-item {
  margin: auto 1vh;
}
.navbar-nav {
  margin-right: 5vh;
}
h1 {
  margin: 3vh auto;
  font-weight: bolder;
}

/* ================================ Home Section Styling =============================== */

.home {
  background-image: url("portfolio.gif");
  background-color: red;
  height: 60vh;
  margin: 0 auto;
}

.Coder_img {
  height: 50vh;
  width: 40vw;
  float: right;
  margin-right: 5vh;
  margin-top: 3vh;
}

.getCV {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-left: 5vh;
}

/* ================================= About Section Styling =============================== */
.image1 {
  border: 4px solid rgb(11, 13, 13);
  overflow: hidden;
  border-radius: 30px;
  border-radius: 50%;
  width: 50%;
  float: right;
  margin-right: 5vh;
  margin-bottom: 5vh;
}

.bio {
  height: 163px;
  height: 70%;
  width: 68vw;
  margin-left: 15vh;
}
.logo {
  display: flex;
  margin: 4vh auto;
}
.logo a img {
  height: 50px;
  width: 50px;
}

/* Moving hand */
.combine {
  display: flex;
}
#moving_hand {
  animation-name: move-hand;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#moving_hand:last-child {
  position: relative;
  bottom: 20px;
}

@keyframes move-hand {
  from {
    transform: rotate(-25deg);
  }
  to {
    transform: rotate(25deg);
  }
}

/* ================================== Skills Section Styling =============================== */
.skill_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  column-gap: 5vh;
}
.skill_container h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: #fff;
}
.item {
  margin: 2vh 2vh;
}
.item img {
  border-radius: 20%;
  height: 10vh;
  width: 5vw;
}

/* Skill On hover style */
.item:hover {
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/* ================================ Education Section Styling =============================== */

.edu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 95%;
  position: relative;
  z-index: -200;
}
.Education h4 {
  font-weight: bolder;
}
.bold {
  font-weight: bolder;
}
.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin_on_short {
  margin: 2vh;
}

/* =============================== Certifications Section Styling ============================= */

.certificate {
  margin: auto;
}
.certi_container {
  width: 90vw;
  background-color: rgb(214, 214, 214);
  padding: 3vh;
  margin: 5vh auto;
  max-width: 75%;
}
.certificate a {
  margin: 0 5vh;
}
.certi_container a > img {
  height: 10%;
  width: 20%;
  border: 3px solid black;
  margin: 1vh 3vh;
}
.certi_container img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/* ============================== Projects Section Styling =============================== */

.project_contain {
  background-color: rgb(204, 199, 199);
  height: 50vh;
  width: 90vw;
  max-width: 75%;
  margin: 2vh auto;
  display: flex;
  justify-content: space-evenly;
}
.group {
  height: 30vh;
  width: 30vw;
  background-color: rgb(34, 35, 35);
  margin: auto 2vh;
  color: white;
}

#para {
  margin-left: 5vh;
}
.solo_project {
  background: red;
  margin: 5vh 5vh;
}

.solo {
  height: 30vh;
  width: 30vw;
  background-color: rgb(33, 31, 31);
  margin: auto 2vh;
  color: white;
}
.btn-center {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.font {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
  margin: 2vh auto;
}
/* =============================== Solo Project Styling ============================== */
.card {
  height: fit-content;
  width: 25vw;
}
.cards-container {
  width: 100vw;
}

/* =============================== Group Project Styling ============================== */

.card-group h4 {
  font-weight: bold;
}

/* =============================== Contact Section Styling ============================== */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  margin: 5vh auto;
}
.contact_form {
  background-color: rgb(86, 78, 78);
  height: max-content;
  margin: 5vh auto;
  max-width: 75%;
}

#name {
  margin-top: 5vh;
}
input,
textarea {
  width: 90%;
  margin: 2vh auto;
  padding: 1vh;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
}

input:focus,
textarea:focus {
  border: 3px solid lime;
}
input::placeholder,
textarea::placeholder {
  color: lime;
}

/* Submit button in Contact */
#btn {
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(19, 17, 22);
  color: white;
  padding: 1vh;
  height: fit-content;
  width: fit-content;
  margin-top: 3vh;
  margin-bottom: 5vh;
}
